---
import { parseComponent } from "@selleo/core";
import CodeWithCopy from "./CodeWithCopy.astro";
import { PreviewSwitch } from "./PreviewSwitch";

const { name } = Astro.props;
const code = await Astro.slots.render("default");
const { HTMLString, ReactString } = parseComponent(code);
---

<div class="preview">
  <h3 class="mb-2 font-bold leading-none text-lg">{name}</h3>

  <PreviewSwitch client:load>
    <slot slot="preview" />

    <CodeWithCopy
      slot="HTMLString"
      code={HTMLString}
      lang="html"
      theme="dark-plus"
    />

    <CodeWithCopy
      slot="reactString"
      code={ReactString}
      lang="tsx"
      theme="dark-plus"
    />
  </PreviewSwitch>
</div>
