---
import { parseComponent } from "@selleo/core";
import { Code } from "astro/components";
import CodeWithCopy from "./CodeWithCopy.astro";
import { PreviewSwitch } from "./PreviewSwitch";
const { component: Component, name, ...props } = Astro.props;
const { HTMLString, ReactString } = parseComponent(Component, props);
---

<div class="preview">
  <h3 class="mb-2 font-bold leading-none text-lg">{name}</h3>

  <PreviewSwitch client:load>
    <Component slot="preview" {...props} />

    <CodeWithCopy
      slot="HTMLString"
      code={HTMLString}
      lang="html"
      theme="dark-plus"
    />

    <CodeWithCopy
      slot="reactString"
      code={ReactString}
      lang="tsx"
      theme="dark-plus"
    />
  </PreviewSwitch>
</div>
