---
import { parseComponent } from "@selleo/core";
import { Code } from "astro/components";
const { component: Component } = Astro.props;
const { HTMLString, ReactString } = parseComponent(Component);
---

<div>
  <h3>Preview - {Component.name}</h3>

  <div class="relative bg-white h-[772px]">
    <Component />
  </div>

  <h6>HTML</h6>
  <Code code={HTMLString} lang="html" theme="dark-plus" />

  <h6>React</h6>
  <Code code={ReactString} lang="tsx" theme="dark-plus" />
</div>
