---
import { parseComponent } from "@selleo/core";
import CodeWithCopy from "./CodeWithCopy.astro";
import { PreviewSwitch } from "./PreviewSwitch";
const { component: Component, name, ...props } = Astro.props;
const { HTMLString, ReactString } = parseComponent(Component, props);
---

<div class="preview mt-3">
  <h3 class="font-bold leading-none text-lg">{name}</h3>
  <PreviewSwitch client:load>
    <Component slot="preview" {...props} />

    <CodeWithCopy
      slot="HTMLString"
      code={HTMLString}
      lang="html"
      theme="dark-plus"
    />

    <CodeWithCopy
      slot="reactString"
      code={ReactString}
      lang="tsx"
      theme="dark-plus"
    />
  </PreviewSwitch>
</div>
