---
import type { Frontmatter } from "../../config";
import MoreMenu from "../RightSidebar/MoreMenu.astro";
import TableOfContents from "../RightSidebar/TableOfContents";
import type { MarkdownHeading } from "astro";

type Props = {
  frontmatter: Frontmatter;
  headings: MarkdownHeading[];
  githubEditUrl: string;
};

const { frontmatter, headings, githubEditUrl } = Astro.props as Props;
const title = frontmatter.title;
---

<article
  id="article"
  class="content p-0 max-w-[75ch] w-full h-full flex flex-col items-stretch"
>
  <section class="main-section mb-[4rem]">
    <h1 class="content-title" id="overview">{title}</h1>
    <nav class="md:hidden">
      <TableOfContents client:media="(max-width: 50em)" headings={headings} />
    </nav>
    <slot />
  </section>
  <nav class="md:hidden">
    <MoreMenu editHref={githubEditUrl} />
  </nav>
</article>
