---
import TableOfContents from "./TableOfContents";
import MoreMenu from "./MoreMenu.astro";
import type { MarkdownHeading } from "astro";

type Props = {
  headings: MarkdownHeading[];
  githubEditUrl: string;
};

const { headings, githubEditUrl } = Astro.props as Props;
---

<nav class="w-full sticky t-0" aria-labelledby="grid-right">
  <div class="sidebar-nav-inner h-full p-0 pt-4 overflow-auto">
    <TableOfContents client:media="(min-width: 50em)" headings={headings} />
    <MoreMenu editHref={githubEditUrl} />
  </div>
</nav>
