---
type Props = {
  size: number;
};
const { size } = Astro.props as Props;
---

<svg width={size} height={size} viewBox="0 0 99 115" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M60.1268 76.1C60.1848 75.8346 60.2428 75.5692 60.2815 75.2936C60.3398 74.9048 60.3785 74.5129 60.3975 74.1197C60.4443 72.9646 60.3468 71.8079 60.1075 70.6797C60.1075 70.5776 60.1075 70.4653 60.0398 70.3632C59.2905 67.3668 57.5294 64.7631 55.0881 63.0427C52.6468 61.3223 49.6939 60.6039 46.7858 61.023H46.6505C44.0051 61.2254 41.3466 61.1193 38.7232 60.7066C30.9893 59.5633 25.8849 54.2348 24.2222 47.7323C21.8053 38.3309 26.4553 29.3582 36.9444 24.734C42.9672 22.0799 47.0759 16.2002 45.4711 9.50384C45.0905 7.90232 44.4145 6.39579 43.4818 5.0705C42.549 3.74522 41.3779 2.62721 40.0354 1.78048C38.693 0.933751 37.2055 0.374936 35.6582 0.136029C34.1109 -0.102878 32.5342 -0.0171846 31.0183 0.388202C25.0536 1.98063 21.7183 8.04411 22.1823 14.3934C23.0331 26.2141 20.0362 33.1453 7.41058 39.3006C7.08014 39.4529 6.75746 39.6233 6.44384 39.811C5.27 40.5221 4.22302 41.4445 3.35028 42.5365C3.14077 42.7945 2.94394 43.0637 2.76057 43.343C2.39314 43.9134 2.06985 44.5142 1.79383 45.1395C1.65849 45.4356 1.54248 45.7418 1.42647 46.0583C1.42262 46.0922 1.42262 46.1264 1.42647 46.1603C1.32013 46.4666 1.22345 46.7626 1.13645 47.079V47.2015C1.04944 47.518 0.972103 47.8344 0.914098 48.1509C0.914098 48.1509 0.914098 48.1509 0.914098 48.2325C0.856094 48.5456 0.807757 48.8858 0.769088 49.2533C0.769088 49.58 0.711083 49.9066 0.701416 50.2741V50.417C0.701416 50.7335 0.701416 51.0601 0.701416 51.3868C0.701416 51.4378 0.701416 51.4991 0.701416 51.5501C0.701416 51.8767 0.75942 52.2034 0.807757 52.5709C0.803128 52.615 0.803128 52.6595 0.807757 52.7036C0.857209 53.0476 0.924988 53.3884 1.01077 53.7244C1.08811 54.0612 1.18479 54.3981 1.29113 54.7452C1.29113 54.7452 1.29113 54.8268 1.29113 54.8779C1.3878 55.1841 1.50381 55.4903 1.62948 55.7864C1.65783 55.8379 1.68054 55.8927 1.69716 55.9497C1.8325 56.2355 1.96784 56.5213 2.11285 56.7969C2.11285 56.848 2.16119 56.8888 2.18053 56.9296C2.34487 57.2155 2.49955 57.4911 2.68323 57.7667C2.86691 58.0423 3.05059 58.3077 3.2536 58.5731C3.44695 58.8283 3.65964 59.0733 3.87232 59.3081L3.95932 59.3897C4.16971 59.624 4.39241 59.8455 4.62637 60.0533C4.64741 60.0823 4.6737 60.1065 4.70371 60.1247C4.9454 60.3493 5.18708 60.5534 5.43843 60.7474C5.97094 61.1573 6.53713 61.516 7.13023 61.8192C7.42025 61.9723 7.71027 62.1153 8.00996 62.2377H8.05829C9.32079 62.7565 10.6581 63.0431 12.0123 63.085C12.3603 63.085 12.6986 63.085 13.0467 63.085C23.0621 62.6461 29.9549 65.2082 34.1409 71.0471C35.2952 72.7638 36.2616 74.613 37.0218 76.5594L37.0798 76.6819C39.1003 82.1635 43.6246 86.0119 48.845 85.92C49.7218 85.9051 50.5942 85.7852 51.4455 85.5627C53.5225 85.009 55.4189 83.8721 56.9336 82.2727C58.4484 80.6733 59.525 78.6708 60.0495 76.4777C60.0882 76.3654 60.0978 76.2327 60.1268 76.1Z" fill="#5C99D2"/>
	<path d="M39.042 38.0252C38.984 38.3008 38.926 38.5662 38.8873 38.8316C38.829 39.2239 38.7903 39.6192 38.7713 40.0158C38.7163 41.1706 38.8107 42.3279 39.0516 43.4558C39.0516 43.5579 39.0516 43.6702 39.1193 43.7723C39.8705 46.7676 41.6321 49.3699 44.0729 51.09C46.5137 52.81 49.4655 53.5293 52.3733 53.1125H52.5183C55.1634 52.907 57.8218 53.0097 60.4456 53.4187C68.1795 54.5722 73.2838 59.9007 74.9466 66.4031C77.3635 75.8046 72.7135 84.7773 62.2244 89.4015C56.2112 92.0759 52.1026 97.9965 53.7074 104.652C54.0901 106.251 54.7673 107.754 55.7003 109.076C56.6333 110.398 57.8038 111.514 59.1449 112.358C60.4861 113.203 61.9717 113.76 63.5169 113.999C65.062 114.237 66.6365 114.151 68.1505 113.747C74.1152 112.145 77.4505 106.091 76.9961 99.7421C76.1357 87.9213 79.1326 80.9902 91.7679 74.8348C92.0869 74.6715 92.3963 74.5082 92.7346 74.3244C93.9064 73.6103 94.9529 72.6884 95.8282 71.5989C96.0312 71.3437 96.2342 71.0681 96.4179 70.7925C96.7843 70.2178 97.1075 69.6137 97.3846 68.9857C97.52 68.6795 97.6456 68.3732 97.752 68.067C97.7558 68.0331 97.7558 67.9988 97.752 67.9649C97.8583 67.6587 97.955 67.3627 98.042 67.0462C98.042 67.0462 98.042 66.9646 98.042 66.9237C98.1193 66.6073 98.1967 66.2908 98.2547 65.9744C98.2594 65.9474 98.2594 65.9197 98.2547 65.8927C98.3224 65.5661 98.361 65.2394 98.3997 64.8719C98.3997 64.5453 98.3997 64.2084 98.4577 63.8512V63.698C98.4577 63.3816 98.4577 63.0651 98.4577 62.7385C98.4577 62.7385 98.4577 62.6262 98.4577 62.565C98.4577 62.2383 98.4094 61.9219 98.361 61.5952V61.4523C98.361 61.1154 98.245 60.7684 98.1677 60.4315C98.0903 60.0947 97.984 59.7578 97.8777 59.4107V59.278C97.7713 58.9718 97.6553 58.6656 97.5296 58.3695C97.5013 58.318 97.4786 58.2632 97.462 58.2062C97.3363 57.9204 97.1913 57.6346 97.0463 57.3487V57.165C96.8935 56.8763 96.7257 56.5969 96.5436 56.3279C96.3599 56.0523 96.1762 55.7971 95.9732 55.5317V55.4705C95.7702 55.2255 95.5672 54.9805 95.3448 54.7457L95.2675 54.6539C95.0451 54.4293 94.8228 54.2047 94.6004 54.0005L94.5134 53.9189C94.2717 53.7045 94.03 53.5004 93.7787 53.3064C93.2417 52.9185 92.676 52.5772 92.0869 52.2856C91.7969 52.1427 91.4972 51.9998 91.1975 51.8773C89.9345 51.3618 88.5971 51.0787 87.2435 51.0403C86.9052 51.0403 86.5572 51.0403 86.2091 51.0403C76.2034 51.4894 69.3009 48.9272 65.1149 43.0883C64.0012 41.4022 63.0674 39.5912 62.3307 37.6884L62.2727 37.5557C60.2522 32.0842 55.7375 28.2359 50.5075 28.3686C49.6303 28.3787 48.7574 28.4986 47.907 28.7258C45.8309 29.2816 43.9355 30.4191 42.4211 32.0183C40.9066 33.6174 39.8293 35.6187 39.303 37.8109C39.0903 37.77 39.071 37.9027 39.042 38.0252Z" fill="#FF6D2A"/>
	</svg>
	

<!-- <svg
	class="logo"
	width={size}
	height={size}
	viewBox="0 0 256 256"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<style>
		#flame {
			fill: var(--theme-text-accent);
		}

		#a {
			fill: var(--theme-text-accent);
		}
	</style>
	<title>Logo</title>
	<path
		id="a"
		fill-rule="evenodd"
		clip-rule="evenodd"
		d="M163.008 18.929c1.944 2.413 2.935 5.67 4.917 12.181l43.309 142.27a180.277 180.277 0 00-51.778-17.53l-28.198-95.29a3.67 3.67 0 00-7.042.01l-27.857 95.232a180.225 180.225 0 00-52.01 17.557l43.52-142.281c1.99-6.502 2.983-9.752 4.927-12.16a15.999 15.999 0 016.484-4.798c2.872-1.154 6.271-1.154 13.07-1.154h31.085c6.807 0 10.211 0 13.086 1.157a16.004 16.004 0 016.487 4.806z"
	>
	</path>
	<path
		id="flame"
		fill-rule="evenodd"
		clip-rule="evenodd"
		d="M168.19 180.151c-7.139 6.105-21.39 10.268-37.804 10.268-20.147 0-37.033-6.272-41.513-14.707-1.602 4.835-1.961 10.367-1.961 13.902 0 0-1.056 17.355 11.015 29.426 0-6.268 5.081-11.349 11.349-11.349 10.743 0 10.731 9.373 10.721 16.977v.679c0 11.542 7.054 21.436 17.086 25.606a23.27 23.27 0 01-2.339-10.2c0-11.008 6.463-15.107 13.974-19.87 5.976-3.79 12.616-8.001 17.192-16.449a31.024 31.024 0 003.743-14.82c0-3.299-.513-6.479-1.463-9.463z"
	>
	</path>
</svg> -->
