---
type Props = {};
---

<a
  href="#article"
  class="sr-only focus:not-sr-only focus:absolute focus:p-0.5 focus:text-base focus:top-0 focus:left-0 focus:z-10 focus:block focus:text-center focus:bg-theme-accent focus:text-white focus:dark:text-theme-dark focus:rounded focus:outline focus:outline-1 focus:outline-white focus:dark:outline-theme-dark focus:outline-offset-0 focus:w-full"
  ><span>Skip to Content</span>
</a>
